.list__item {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    justify-items: center;
    margin: 0 10px;
    list-style: none;
    border-bottom: solid 1px #dddada;
}

.list__item--done {
    text-decoration: line-through;
}

.listText {
    display: grid;
    justify-self: start;
}

.list__item--hidden {
    display: none;
}