.newButton {
    color: rgb(0, 160, 160);
    transition: 0.5s;
    border: none;
    background-color: white;
}

.newButton:disabled {
    color: rgba(194, 194, 194, 0.692);
    transition: none;
}

.newButton:hover {
    color: hsl(180, 100%, 36%);
}

.newButton:disabled:hover {
    color: rgba(194, 194, 194, 0.692);
}

.newButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
