.section__header {
    max-width: 1500px;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin: 10px 0px 2px;
}

.tasksList {
    max-width: 1500px;
    background-color: white;
    width: 100%;
    padding: 40px 0 20px 0;
    margin-top: 2px;
}