html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.body {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #dddada;
    font-family: "Montserrat", sans-serif;
    word-break: break-word;
}